html, body, :global(#app)  {
  height: 100%;
}

.layout {
  height: 100%;
}

.layout > div:first-child{
  float: left;
  width: 25%;
}

.layout > div:last-child {
  float: left;
  width: 75%;
  height: 100%;
}
